.blueprint {
  padding: 10px;
  background-color: #002059;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#002059), color-stop(100%,#25547e));
  background: -webkit-linear-gradient(45deg, #002059 0%, #25547e 100%);
  background:    -moz-linear-gradient(45deg, #002059 0%, #25547e 100%);
  background:     -ms-linear-gradient(45deg, #002059 0%, #25547e 100%);
  background:      -o-linear-gradient(45deg, #002059 0%, #25547e 100%);
  background:         linear-gradient(45deg, #002059 0%, #25547e 100%);
  width: 600px;
  height: 300px;
}
.blueprint div {
  width: 600px;
  height: 300px;
}
#mainContainer {
  padding-top: 20px;
}

